.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.course-success {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-top: 50px;
  box-shadow: 4px 4px 4px 4px #f1f5f9;
}

.course-img {
  width: 400px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 20px;
}

.name {
  font-family: roboto;
  font-size: 24px;
  font-weight: 500;
  color: #1e293b;
}

.desc {
  font-family: roboto;
  font-size: 18px;
  font-weight: 500;
  color: #64748b;
  line-height: 2.5;
}

.failure-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.failure-img {
  width: 400px;
}

.retry-button {
  background-color: #4656a1;
  padding: 8px 15px;
  color: #ffffff;
  font-family: roboto;
  font-size: 18px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}
