.header-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 20px 0px;
  background-color: #f1f5f9;
}

.content {
  display: flex;
  width: 90%;
}

.img {
  width: 120px;
}
